body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*overflow-x: hidden;*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



tbody, table, body, html{
    width: 100vw;
}

.customTable{
    table-layout:fixed;
}

td, th {
    min-width: 25%;
}

.colWidth20{
    /*min-width:100px;*/
    width:90px

}

.colWidth40{
    max-width: 25%;
}